# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/nextjs/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/nextjs/.next/
/nextjs/styled-system/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

/nextjs/logs/*
logs/server/app-prod.log
~/.config/systemd/user/gexel-tunnel.service
nextjs/nextjs/logs/container/server/app-prod.log
nextjs/nextjs/logs/container/client/app-prod.log
logs/**/*