services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3729:3729"
    env_file:
      - .env.production
    environment:
      - PORT=3729
      - NODE_ENV=production
    volumes:
      - ./logs/container:/app/logs
      - ./keys:/app/keys:ro # SSH秘密鍵を読み取り専用でマウント
    extra_hosts:
      - "host.docker.internal:host-gateway"
    restart: unless-stopped

volumes:
  logs-data:
